In [1]:
import pandas as pd 
df = pd.read_csv("weather_data.csv")
df

ModuleNotFoundError: No module named 'pandas'

In [2]:
import pandas as pd 
df = pd.read_csv("weather_data.csv")
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [3]:
df.head()

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain

In [5]:
df.head(3)

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow

In [6]:
df.tail()

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [7]:
df.tail(2)

          day  temperature  windspeed  event
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [8]:
df[2:5]

          day  temperature  windspeed event
2  01-03-2017           28          2  Snow
3  01-04-2017           24          7  Snow
4  01-05-2017           32          4  Rain

In [9]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [10]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [12]:
df['event']

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [13]:
type(df['event'])

pandas.core.series.Series

In [14]:
df[['event','day']]

   event         day
0   Rain  01-01-2017
1  Sunny  01-02-2017
2   Snow  01-03-2017
3   Snow  01-04-2017
4   Rain  01-05-2017
5  Sunny  01-06-2017

In [17]:
int(df['temperature'].max())

35

In [18]:
int(df['temperature'].min())

24

In [19]:
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [20]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [22]:
df[df.temperature>=30]

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [23]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  01-02-2017           35          7  Sunny

In [25]:
df[['day','temperature']][df.temperature==df.temperature.max()]

          day  temperature
1  01-02-2017           35

In [26]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [27]:
df.set_index('day')

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           31          2  Sunny

In [28]:
df.set_index('day', inplace = True)

In [29]:
df

            temperature  windspeed  event
day
01-01-2017           32          6   Rain
01-02-2017           35          7  Sunny
01-03-2017           28          2   Snow
01-04-2017           24          7   Snow
01-05-2017           32          4   Rain
01-06-2017           31          2  Sunny

In [30]:
df.loc['01-05-2017']

temperature      32
windspeed         4
event          Rain
Name: 01-05-2017, dtype: object

In [31]:
df.reset_index(inplace=True)
df

          day  temperature  windspeed  event
0  01-01-2017           32          6   Rain
1  01-02-2017           35          7  Sunny
2  01-03-2017           28          2   Snow
3  01-04-2017           24          7   Snow
4  01-05-2017           32          4   Rain
5  01-06-2017           31          2  Sunny

In [32]:
df.set_index('event', inplace = True)

In [33]:
df

              day  temperature  windspeed
event
Rain   01-01-2017           32          6
Sunny  01-02-2017           35          7
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7
Rain   01-05-2017           32          4
Sunny  01-06-2017           31          2

In [35]:
df.loc['Snow']

              day  temperature  windspeed
event
Snow   01-03-2017           28          2
Snow   01-04-2017           24          7